reference RFCs 5226 and 7500

feedback from andrew malis:

"Interesting draft, but it should certainly contain references to RFCs 5226 and 7500, and you wouldn’t want to duplicate any information contained in either of those RFCs. For example, there’s some amount of commonality between section 5.3 of this draft and section 6.4 of RFC 5226."

closed after andrew malis agreed that the issue was resolved.