json-seq-suffix: Simplifying/Minimizing explanations of Structured Syntax Suffixes


I would recommend minimizing explanations of structured syntax suffixes and stressing the registration. My concern is that reviewer confusion over suffixes can distract from the purpose of this draft - which is to simply register +json-seq. This has the potential to slow down the review process.

The expectation is that reviewers should be familiar with the related drafts. And to stress that point, you could add the following to the Terminology section:

_This document assumes that readers are familiar with the terms and concepts that are used in [RFCX], [RFCY], and [RFCZ]._

To be fair, I'm not thrilled with most of the suffix explanations in related RFC(s) either.

Perhaps RFC3023 does the best job:

_XML provides a general framework for defining sequences of structured data.  In some cases, it may be desirable to define new media types that use XML but define a specific application of XML, perhaps due to domain-specific security considerations or runtime information._

Wikipedia is to the point:

_Suffix is an augmentation to the media type definition to additionally specify the underlying structure of that media type_

I'd also recommend a variation of Tom Duff's "Whenever possible, steal code" - reuse and adapt text from RFC6839 or other related RFCs that have already been reviewed.

**Abstract
Introduction**

In both cases, there are opportunities to simply adapt and reuse RFC6839 language.

**Section 3**

Perhaps Section 3 could simply become:

```
          <xref target="RFC7464"/> defines the "application/json-seq" media type. The suffix
          "+json-seq" MAY be used with any media type whose representation follows
          that established for "application/json-seq". 
```
which mirrors the style in RFC6839.

If you wanted to provide more detail, then I'd probably duplicate and adapt Section 2 from RFC6839 -or- simply reference the guidance.

On 2016-12-08 15:37, Brian Raymor wrote:
> The expectation is that reviewers should be familiar with the related
> drafts. And to stress that point, you could add the following to the
> Terminology section:
> /This document assumes that readers are familiar with the terms and
> concepts that are used in [RFCX], [RFCY], and [RFCZ]./

i typically find it useful to make documents a bit more self-contained 
if possible. while reviewers probably will have a good general knowledge 
of the RFC landscape, most readers of the RFC might not. so the goal is 
provide a bit of context that maybe is sufficient for people simply 
wondering about the document and what it is doing.

this probably is more a stylistic issue than one of content. it 
certainly wold be me preference to provide a bit more context inline, 
and thus maybe make the document a bit easier to read for a more general 
audience.


I completely agree that it is a style issue which is why I created an issue rather than a PR - but it does increase the surface area for review and allow reviewers to be potentially distracted by shiny objects. Feel free to close this issue if it's not helpful.

This was a new area for me. I ended up needing to quickly review the other drafts to understand the intent.

On 2016-12-08 17:57, Brian Raymor wrote:
> I completely agree that it is a style issue which is why I created an
> issue rather than a PR - but it does increase the surface area for
> review and allow reviewers to be potentially distracted by shiny
> objects. Feel free to close this issue if it's not helpful.
> This was a new area for me. I ended up needing to quickly review the
> other drafts to understand the intent.

let's keep it open for now (thanks for raising the issue) and see if we 
get more feedback asking for this kind of revision. if yes, then i'd be 
more than happy to work on it.


https://tools.ietf.org/html/rfc8091 was published a little while ago, so closing this.